<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi there, thanks for shopping at Jungle!</h1>
    <p>
      Your order has been processed!<br />
      The details of your order can be seen below: <br>
    </p>
    <p>
      To see your order click here: <%="/orders/#{@order.id}" %>
    </p>
    <p>Thanks for joining Jungle, and have a great day!</p>
  </body>
</html>
