// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

.current-user {
  padding: 15px 15px;
  line-height: 20px;
  height: 50px;
  font-size: 18px;
  display: inline-block;
  color: #777;
  
}
